/*
	Emory University Brand Colors
*/
$primary:#002878;
$secondary:#007698;
$gold-light:#d2b000;
$gold-dark:#d28e00;
// Grays
$gray-light:#e8ebf4;
$gray-dark:#bdbfc1;
$gray-text:#333;
// Vibrant
$pumpkin:#df7a1c;
$dandelion:#e7a614;
$columbine:#e31b23;
$merlot:#98002e;
$royal:#7c2b83;
/*
	Typography
*/
$serif:'Cormorant Garamond', serif;
$sans-serif:'Noto Sans', sans-serif;