@import '_brand.scss';
#cta {
	padding:0;
	.container {
		padding:0;
		width:100%;
		.section-heading {
			text-align:center;
			margin:7rem auto;
		}
	}
}
.cta-wrap {
	height:250px;
	border-bottom:5px solid transparent;
	> div {
		padding:3rem;
	}
	.cta__text,
	.cta__bg {
		height:100%;
	}
	.cta__text {
		color:#fff;
	}
	.cta__bg {
		background-size:cover;
		background-repeat:no-repeat;
		background-position:center center;
	}
	&:nth-of-type(3n + 1) .cta__text {
		background-color: #8c3b93;
		background-image: url("data:image/svg+xml,%3Csvg width='20' height='12' viewBox='0 0 20 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 10 12c1.67 0 3.182-.683 4.27-1.785A5.998 5.998 0 0 0 14 12h2a4 4 0 0 1 4-4V6c-1.67 0-3.182.683-4.27 1.785C15.905 7.22 16 6.622 16 6c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 20 6V4a4 4 0 0 1-4-4h-2c0 .622.095 1.221.27 1.785A5.982 5.982 0 0 0 10 0C8.33 0 6.818.683 5.73 1.785 5.905 1.22 6 .622 6 0H4a4 4 0 0 1-4 4v2c1.67 0 3.182.683 4.27 1.785A5.998 5.998 0 0 1 4 6c0-.622.095-1.221.27-1.785A5.982 5.982 0 0 1 0 6v2a4 4 0 0 1 4 4h2zm-4 0a2 2 0 0 0-2-2v2h2zm16 0a2 2 0 0 1 2-2v2h-2zM0 2a2 2 0 0 0 2-2H0v2zm20 0a2 2 0 0 1-2-2h2v2zm-10 8a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm0-2a2 2 0 1 0 0-4 2 2 0 0 0 0 4z' fill='%237c2b83' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
	}
	&:nth-of-type(3n + 1) .cta__bg {
		background-image:url('https://photos.smugmug.com/Clients/Oxford-Commencement-2015/i-VbSW2kq/0/X3/0050704-15AB-F1236-X3.jpg');
	}
	&:nth-of-type(3n + 2) .cta__text {
		background-color: #d89251;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='40' viewBox='0 0 50 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23df7a1c' fill-opacity='0.4'%3E%3Cpath d='M40 10L36.67 0h-2.11l3.33 10H20l-2.28 6.84L12.11 0H10l6.67 20H10l-2.28 6.84L2.11 10 5.44 0h-2.1L0 10l6.67 20-3.34 10h2.11l2.28-6.84L10 40h20l2.28-6.84L34.56 40h2.1l-3.33-10H40l2.28-6.84L47.89 40H50l-6.67-20L50 0h-2.1l-5.62 16.84L40 10zm1.23 10l-2.28-6.84L34 28h4.56l2.67-8zm-10.67 8l-2-6h-9.12l2 6h9.12zm-12.84-4.84L12.77 38h15.79l2.67-8H20l-2.28-6.84zM18.77 20H30l2.28 6.84L37.23 12H21.44l-2.67 8zm-7.33 2H16l-4.95 14.84L8.77 30l2.67-8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	}
	&:nth-of-type(3n + 2) .cta__bg {
		background-image:url('https://photos.smugmug.com/Clients/Oxford-Science-Building/i-cK7TCq9/0/X3/0020101-16BM-F0156-X3.jpg');
	}
	&:nth-of-type(3n + 3) .cta__text {
		background-color: #ae1140;
		background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%2398002e' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
	}
	&:nth-of-type(3n + 3) .cta__bg {
		background-image:url('https://photos.smugmug.com/Clients/Dean-Hicks-portrait/i-NWrvWQV/0/X3/0101601-16AB-F409-X3.jpg');
	}
}