/**
 * Framework Base: Twitter Bootstrap
 * Custom Styles: Kayla Pratt
 * Author URL: kaylapratt.com
 */

body {
  margin-top: 50px;
  /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}


/*
	Emory University Brand Colors
*/


/*
	Typography
*/


/*
	General
*/

html {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: "Noto Sans", sans-serif;
  color: #333;
  margin-top: 0;
  min-height: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cormorant Garamond", serif;
}

a {
  color: #002878;
}

.overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.overlay.ttb {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, transparent 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, transparent 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, transparent 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00000000', GradientType=0);
  /* IE6-9 */
}

.overlay.btt {
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000', GradientType=0);
  /* IE6-9 */
}

.btn-primary {
  color: white;
  background-color: #007698;
}


/*
	Header
*/

.navbar {
  background: #002878;
  /* scroll event transition */
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.86, 0, 0.07, 1, opacity 1s ease);
  -moz-transition: -moz-transform 1s cubic-bezier(0.86, 0, 0.07, 1), opacity 1s ease;
  transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1), opacity 1s ease;
}

.navbar.scrollup {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  opacity: 0;
}

.navbar a {
  color: #fff;
}

.navbar li a:focus,
.navbar li a:hover,
.navbar li a:active,
.navbar li.open>a,
.navbar li.open>a:focus,
.navbar li.open>a:hover {
  background-color: #002878;
  filter: brightness(1.15);
}

.navbar .navbar-brand {
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
}

.navbar .navbar-right {
  margin-right: 0;
  font-size: 1rem;
}

.navbar .navbar-right .btn {
  font-size: 1rem;
  border: 0;
  border-radius: 0;
}

.navbar .navbar-right .btn.toggle {
  background: transparent;
  color: #fff;
}

.navbar .toggle-input {
  background: rgba(0, 0, 0, 0.25);
  border-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  display: none;
  position: absolute;
  width: 200px;
  right: 1rem;
  transform: translateY(20%);
}

.navbar-toggle .icon-bar {
  color: #fff;
}


/*
	Bootstrap basic wide BG
*/

.image-bg-fluid-height,
.image-bg-fixed-height {
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.image-bg-fluid-height {
  padding: 100px 0;
}

.image-bg-fluid-height.hero {
  background: url("http://kaylapratt.com/wp-content/uploads/2017/03/hero-alt.jpg") -25px -50px;
  background-size: calc(120% + 50px);
  padding: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.image-bg-fluid-height.hero .hero__content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.image-bg-fluid-height.hero .hero__content h1 {
  font-size: 5vw;
  color: #fff;
}

.image-bg-fluid-height.hero .hero__content img {
  transform: translateY(100%) translateX(-10%);
  max-width: 175px;
}

#location,
#splan {
  padding: 0;
}

#location .overlay,
#splan .overlay {
  padding: 75px 0;
}

#location h2,
#location p,
#splan h2,
#splan p {
  color: #fff;
}

#kicker {
  background: url("http://kaylapratt.com/wp-content/uploads/2017/03/clouds-bg.jpg") no-repeat center center fixed;
}

#location {
  background: url("https://photos.smugmug.com/Clients/Admissions/Oxford-Fall-2016/i-DvgW3dG/0/X3/0112101-16KH-F227_RAW_-X3.jpg") no-repeat center center fixed;
}

#splan {
  background: url("https://photos.smugmug.com/Clients/Library-Images/Oxford-Library/i-Gjf6qJG/0/X3/0040709-11KH-F010-_RAW_-X3.jpg") no-repeat center center fixed;
}

#kicker,
#location,
#splan {
  background-size: cover;
}

.info-wrap {
  display: flex;
  flex-flow: column nowrap;
}

.info-wrap .info__title {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.info-wrap .info__title .info__stat {
  font-size: 7rem;
  font-family: "Noto Sans", sans-serif;
}

.info-wrap .info__title .info__stat span {
  font-size: 4rem;
}

.info-wrap .info__title .info__icon {
  font-size: 15rem;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  opacity: .1;
}

.info-wrap .info__desc {
  font-size: 2rem;
}

.info-wrap:nth-of-type(4n+1) .info__title {
  color: #e7a614;
}

.info-wrap:nth-of-type(4n+2) .info__title {
  color: #98002e;
}

.info-wrap:nth-of-type(4n+3) .info__title {
  color: #007698;
}

.info-wrap:nth-of-type(4n+4) .info__title {
  color: #df7a1c;
}

.image-bg-fixed-height {
  background: url("https://photos.smugmug.com/Clients/Admissions/Oxford-Fall-2016/i-fmFKJLZ/0/X3/0112101-16KH-F120_RAW_-X3.jpg") no-repeat center center scroll;
  background-size: cover;
  height: 450px;
}

.img-center {
  margin: 0 auto;
}

section {
  padding: 75px 0;
}

.section-heading {
  margin: 30px 0;
  font-size: 4em;
}

.section-lead {
  margin: 30px 0;
}

.section-paragraph {
  margin: 30px 0;
}

#post-footer {
  background: #333;
  padding: 10px 0;
  font-size: 1rem;
}

#post-footer p,
#post-footer ul,
#post-footer li,
#post-footer a {
  color: #fff;
  margin: 0;
  padding: 0;
}

#post-footer ul li {
  list-style-type: none;
  display: inline;
}

#post-footer ul li:not(:last-child):after {
  content: " | ";
}

footer {
  margin: 0 auto;
  background: #002878;
  padding: 5rem 0;
  color: #fff;
}

footer .logo {
  max-width: 150px;
}

footer ul {
  padding: 0;
}

footer ul>li {
  list-style-type: none;
}

footer ul>li a {
  color: #fff;
}

footer ul>li a:hover,
footer ul>li a:focus,
footer ul>li a:active {
  color: #e31b23;
  text-decoration: none;
}

footer #MicrosoftTranslatorWidget {
  color: #fff;
  background: #002878;
}

footer .Light #LauncherTranslatePhrase {
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.25);
  border-image: initial;
  border-radius: 3px;
}

@media (max-width: 1100px) {
  .image-bg-fluid-height.hero {
    background-position: center center !important;
    background-size: cover;
  }
}

@media (max-width: 1100px) and (min-width: 768px) {
  .navbar {
    font-size: 1.15rem;
  }
  .navbar .navbar-right {
    position: absolute;
    top: 50px;
    right: 0;
  }
  .navbar .navbar-right li>a,
  .navbar .navbar-right li>a.toggle.btn {
    background: rgba(0, 0, 0, 0.25);
  }
  .navbar .navbar-right li>a:hover,
  .navbar .navbar-right li>a:active,
  .navbar .navbar-right li>a:focus {
    background: rgba(0, 0, 0, 0.35);
    filter: none;
  }
}

@media (max-width: 768px) {
  section {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .section-heading {
    font-size: 2em;
  }
  .navbar .navbar-right {
    border-top: 2px solid #007698;
    font-size: inherit;
    margin-right: 0;
  }
  .navbar .navbar-right .btn {
    font-size: inherit;
  }
  .navbar .navbar-right .btn.search {
    background: transparent;
    color: #fff;
    text-align: left;
    width: 20%;
  }
  .navbar .navbar-right .search-wrap {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
  .navbar .navbar-right .search-wrap .form-control {
    width: 80%;
    background: #002878;
    filter: brightness(85%);
    color: #fff;
    border: 0;
  }
  .toggle-input {
    color: #fff;
    display: none;
    position: relative;
    width: 100%;
  }
}


/*
	Emory University Brand Colors
*/


/*
	Typography
*/

#cta {
  padding: 0;
}

#cta .container {
  padding: 0;
  width: 100%;
}

#cta .container .section-heading {
  text-align: center;
  margin: 7rem auto;
}

.cta-wrap {
  height: 250px;
  border-bottom: 5px solid transparent;
}

.cta-wrap>div {
  padding: 3rem;
}

.cta-wrap .cta__text,
.cta-wrap .cta__bg {
  height: 100%;
}

.cta-wrap .cta__text {
  color: #fff;
}

.cta-wrap .cta__bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.cta-wrap:nth-of-type(3n+1) .cta__text {
  background-color: #8c3b93;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='12' viewBox='0 0 20 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 10 12c1.67 0 3.182-.683 4.27-1.785A5.998 5.998 0 0 0 14 12h2a4 4 0 0 1 4-4V6c-1.67 0-3.182.683-4.27 1.785C15.905 7.22 16 6.622 16 6c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 20 6V4a4 4 0 0 1-4-4h-2c0 .622.095 1.221.27 1.785A5.982 5.982 0 0 0 10 0C8.33 0 6.818.683 5.73 1.785 5.905 1.22 6 .622 6 0H4a4 4 0 0 1-4 4v2c1.67 0 3.182.683 4.27 1.785A5.998 5.998 0 0 1 4 6c0-.622.095-1.221.27-1.785A5.982 5.982 0 0 1 0 6v2a4 4 0 0 1 4 4h2zm-4 0a2 2 0 0 0-2-2v2h2zm16 0a2 2 0 0 1 2-2v2h-2zM0 2a2 2 0 0 0 2-2H0v2zm20 0a2 2 0 0 1-2-2h2v2zm-10 8a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm0-2a2 2 0 1 0 0-4 2 2 0 0 0 0 4z' fill='%237c2b83' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.cta-wrap:nth-of-type(3n+1) .cta__bg {
  background-image: url("https://photos.smugmug.com/Clients/Oxford-Commencement-2015/i-VbSW2kq/0/X3/0050704-15AB-F1236-X3.jpg");
}

.cta-wrap:nth-of-type(3n+2) .cta__text {
  background-color: #d89251;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='40' viewBox='0 0 50 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23df7a1c' fill-opacity='0.4'%3E%3Cpath d='M40 10L36.67 0h-2.11l3.33 10H20l-2.28 6.84L12.11 0H10l6.67 20H10l-2.28 6.84L2.11 10 5.44 0h-2.1L0 10l6.67 20-3.34 10h2.11l2.28-6.84L10 40h20l2.28-6.84L34.56 40h2.1l-3.33-10H40l2.28-6.84L47.89 40H50l-6.67-20L50 0h-2.1l-5.62 16.84L40 10zm1.23 10l-2.28-6.84L34 28h4.56l2.67-8zm-10.67 8l-2-6h-9.12l2 6h9.12zm-12.84-4.84L12.77 38h15.79l2.67-8H20l-2.28-6.84zM18.77 20H30l2.28 6.84L37.23 12H21.44l-2.67 8zm-7.33 2H16l-4.95 14.84L8.77 30l2.67-8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.cta-wrap:nth-of-type(3n+2) .cta__bg {
  background-image: url("https://photos.smugmug.com/Clients/Oxford-Science-Building/i-cK7TCq9/0/X3/0020101-16BM-F0156-X3.jpg");
}

.cta-wrap:nth-of-type(3n+3) .cta__text {
  background-color: #ae1140;
  background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%2398002e' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.cta-wrap:nth-of-type(3n+3) .cta__bg {
  background-image: url("https://photos.smugmug.com/Clients/Dean-Hicks-portrait/i-NWrvWQV/0/X3/0101601-16AB-F409-X3.jpg");
}

.navbar-nav>li>.dropdown-menu {
  margin-top: 20px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.navbar-default .navbar-nav>li>a {
  width: 200px;
}

.mega-dropdown {
  position: static !important;
  width: auto;
}

.mega-dropdown-menu {
  padding: 20px 0px;
  width: 100%;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.mega-dropdown-menu:before {
  content: "";
  border-bottom: 15px solid #fff;
  border-right: 17px solid transparent;
  border-left: 17px solid transparent;
  position: absolute;
  top: -15px;
  left: 285px;
  z-index: 10;
}

.mega-dropdown-menu:after {
  content: "";
  border-bottom: 17px solid #ccc;
  border-right: 19px solid transparent;
  border-left: 19px solid transparent;
  position: absolute;
  top: -17px;
  left: 283px;
  z-index: 8;
}

.mega-dropdown-menu>li>ul {
  padding: 0;
  margin: 0;
}

.mega-dropdown-menu>li>ul>li {
  list-style: none;
}

.mega-dropdown-menu>li>ul>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #999;
  white-space: normal;
}

.mega-dropdown-menu>li ul>li>a:hover,
.mega-dropdown-menu>li ul>li>a:focus {
  text-decoration: none;
  color: #444;
  background-color: #f5f5f5;
}

.mega-dropdown-menu .dropdown-header {
  color: #007698;
  font-size: 18px;
  font-weight: bold;
}

.mega-dropdown-menu form {
  margin: 3px 20px;
}

.mega-dropdown-menu .form-group {
  margin-bottom: 3px;
}

@media (max-width: 768px) {
  h4 small {
    color: #fff;
  }
  .mega-dropdown-menu .dropdown-header {
    color: #e7a614;
  }
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 10px 0 5px 0;
  }
  .mega-dropdown-menu>li>ul>li>a {
    color: #fff;
  }
  .mega-dropdown-menu>li ul>li>a:hover,
  .mega-dropdown-menu>li ul>li>a:focus {
    color: #fff;
    background-color: #002878;
    filter: brightness(1.15);
  }
}


/*
	Emory University Brand Colors
*/


/*
	Typography
*/

.calendar-list {
  font-size: 1rem;
  padding: 1rem 0;
}

.calendar-list ul {
  padding: 0;
}

.calendar-list li,
.calendar-list a {
  text-decoration: none;
  color: #333;
  font-family: "Noto Sans", sans-serif;
}

.calendar-list ul>li>a {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.calendar-list ul>li {
  list-style-type: none;
}

.calendar-list ul>li:nth-of-type(3n+1) .calendar-list__date {
  background: #7c2b83;
}

.calendar-list ul>li:nth-of-type(3n+2) .calendar-list__date {
  background: #e7a614;
}

.calendar-list ul>li:nth-of-type(3n+3) .calendar-list__date {
  background: #98002e;
}

.calendar-list ul>li:not(:last-of-type) .calendar-list__desc {
  border-bottom: 1px solid #eee;
}

.calendar-list .calendar-list__date {
  padding: .25rem .15rem;
  width: 20%;
}

.calendar-list .calendar-list__date span {
  color: #fff;
  display: block;
  text-align: center;
}

.calendar-list .calendar-list__date span:first-child {
  font-size: 1rem;
  text-transform: uppercase;
}

.calendar-list .calendar-list__date span:last-child {
  font-size: 1.5rem;
}

.calendar-list .calendar-list__desc {
  width: 80%;
  padding: .75rem 1rem;
  line-height: 1rem;
}

.calendar-list .calendar-list__desc span:first-child {
  display: block;
}

.calendar-list .calendar-list__desc span:last-child {
  font-size: .85rem;
}

@media (max-width: 768px) {
  .calendar-list li,
  .calendar-list a {
    color: #fff;
  }
  .calendar-list {
    font-size: 1.25rem;
  }
  .calendar-list .calendar-list__desc {
    line-height: 1.25rem;
  }
  .calendar-list ul>li:not(:last-of-type) .calendar-list__desc {
    border-color: rgba(255, 255, 255, 0.25);
  }
}